button {
    display: block;
    margin: 20px auto;
    background: #2E8B57;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}

.popup-wrapper {
    background: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    background: white;
    position: relative;
    padding: 20px;
}

.popup a{
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background-color: #2E8B57;
}

.popup-close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

body{
    background: #C1FFC1;
}

.d-none {
    display: none;
  }
  
  .d-block {
    display: block;
  }