.container {
    max-width: 400px;
    border: 1px solid rgb(59, 58, 58);
    margin: 80px auto;
    text-align: center;
    border-radius: 5px;
    background: rgb(157, 157, 245);
}

 form {
    /*FlexBox*/
    display: flex;
    justify-content: center;
    padding: 20px;
 }

 .form-control input {
    /*Tamanho e Largura*/
    width: 100%;
    max-width: 250px;
    /*Efeito navegador*/
    outline: none;
 }

button {
    /*Tamanho Altura*/
    height: 22px;
    /*Espaçamento*/
    margin-left: 10px;
    /*Cor de fundo*/
    background: black;
    /*Cor de texto*/
    color: white ;
    /*Ponteiro*/
    cursor: pointer;
}

